<section class="info-card-container">
  <article class="info-card">
    <i class="fa-solid fa-list-check info-card__logo"></i>
    <section class="info-card__body">
      <h3 class="info-card__name">Tareas completadas</h3>
      <p class="info-card__number">37</p>
    </section>
  </article>
  <article class="info-card">
    <i class="fa-regular fa-clock info-card__logo"></i>
    <section class="info-card__body">
      <h3 class="info-card__name">Tareas pendientes</h3>
      <p class="info-card__number">310</p>
    </section>
  </article>
</section>
