<header class="navbar">
  <h1 class="navbar__logo">Moxit</h1>
  <ul>
    <li class="navbar__link">
      <a href="#">
        <i class="fa-solid fa-house navbar__icon"></i>
        Todas mis tareas</a
      >
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa-regular fa-square-check navbar__icon"></i>Capacitacion 1</a
      >
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa-regular fa-square-check navbar__icon"></i>Capacitacion 1</a
      >
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa-regular fa-square-check navbar__icon"></i>Capacitacion 1</a
      >
    </li>
    <li class="navbar__link">
      <a href="#">
        <i class="fa-regular fa-square-check navbar__icon"></i>Capacitacion 1</a
      >
    </li>
  </ul>
</header>
