<table class="task-card">
  <thead>
    <tr class="task-card__header">
      <th class="task-card__heading">Capacitacion 1</th>
      <th class="task-card__header-icon">
        <i class="fa-solid fa-plus"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="task-card__list">
      <td><input class="task-card__checkbox" type="checkbox" /></td>
      <td class="task-card__name">Ver todos los videos</td>
      <td>10/07/2024</td>
      <td>10/07/2024</td>
      <td>10/07/2024</td>
      <td><i class="fa-solid fa-trash-can"></i></td>
    </tr>
    <tr class="task-card__list">
      <td><input class="task-card__checkbox" type="checkbox" /></td>
      <td class="task-card__name">Ver todos los videos</td>
      <td>10/07/2024</td>
      <td>10/07/2024</td>
      <td>10/07/2024</td>
      <td><i class="fa-solid fa-trash-can"></i></td>
    </tr>
  </tbody>
</table>
