@import url(./normalize.css);

.new-task {
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 20rem auto;
  padding: 2rem;
  width: 500px;
  font-size: 1.5rem;
}

.new-task__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.new-task__input {
  margin-top: 10px;
  outline: 0;
}

.new-task__input input,
.new-task__buttons button {
  border: 0.2px solid #eaeaeaa5;
  padding: 1rem;
  border-radius: 5px;
}

.new-task__input input:focus {
  border: 0.2px solid #b6c7aa;
  outline: 0;
}

.new-task__input input[type="text"] {
  width: 100%;
}

.new-task__input p {
  margin-bottom: 2px;
}

.new-task__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.new-task__buttons button {
  cursor: pointer;
  width: 40%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 1.5rem;
}

.new-task__buttons button:first-child {
  background-color: #b6c7aa;
}

.new-task__buttons button:last-child {
  background-color: #eaeaeaa5;
}
