@import url(./normalize.css);
@import url(./newTask.css);

/* #3CE8BC <-- moxit */
:root {
  --color-accent: #b6c7aa;
  --color-background: rgb(245, 247, 250);
  --color-primary: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* DISPLAY */

body {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .tasks-container {
    flex-grow: 1;
  }

  .navbar {
    height: 100vh;
  }
}

/* FONTS */
html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", serif;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

i.fa {
  text-transform: none !important;
}
/* LINKS */
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* NAVEGATION BAR */
.navbar {
  background: var(--color-primary);
  padding: 2rem 1rem;
  letter-spacing: 0.3rem;
  /* TODO: sacar esto hardcodeado*/
  font-size: 1.3rem;
  position: fixed;
}

.navbar__logo {
  text-align: center;
}

.navbar__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  letter-spacing: 0.1rem;
}

.navbar__icon {
  margin-right: 15px;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    border-right: 0.1px solid rgba(234, 236, 239, 0.476);
  }
}

/* MAIN BLOCK */
.tasks-container {
  padding: 0 2rem;
  margin-left: 200px;
  position: relative;
}

.tasks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__heading {
  margin: 2.2rem 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/* New Group */
.new-group {
  margin: 0 auto 4rem;
  max-width: 1000px;
  display: flex;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded {
  max-height: 100vh;
  opacity: 1;
}

.new-group input,
.new-group button {
  padding: 1rem;
  border: 0;
}

.new-group input {
  flex-grow: 1;
}

.new-group button {
  width: 15%;
}

/* Cards */
.task-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card__header-icon {
  cursor: pointer;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  padding: 7.5px;
  border-radius: 100%;
}

.task-card__header-icon a {
  color: #fff;
}

.task-card {
  background: var(--color-primary);
  border-radius: 3px;
  cursor: move;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", serif;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
  border: 0.1px solid rgba(234, 236, 239, 0.476);
}

.task-card__heading {
  padding: 1rem 0 0.7rem;
  font-size: 1.3rem;
}

.task-card__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  position: relative;
}

.task-card__checkbox-cell {
  width: 20px;
}

.task-card__checkbox {
  cursor: pointer;
  accent-color: var(--color-accent);
}

.task-card__name {
  width: 200px;
}

.task-card__description {
  width: 150px;
}

.task-card__image {
  height: 40px;
  width: 200px;
}

.task-card__image img {
  width: 200px;
  height: 40px;
}

.task-card__date {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}

.task-card__date__icon {
  color: rgb(203, 3, 3);
  cursor: pointer;
}

.task-card__date__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(203, 3, 3, 0.412);
  color: #fff;
  text-align: center;
  text-transform: lowercase !important;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Raleway", serif;
  font-size: 11px;
  font-weight: 500;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.task-card__date__tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 79%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(203, 3, 3, 0.412) transparent transparent transparent;
}

.task-card__date__icon:hover .task-card__date__tooltip {
  visibility: visible;
  opacity: 1;
}

/* Info Cards */
.info-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent);
  padding: 1.5rem;
  border-radius: 3px;
  text-transform: uppercase;
}

.info-card__logo {
  font-size: 3rem;
}

.info-card__number {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

@media screen and (min-width: 470px) {
  .info-card-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .info-card {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .info-card-container {
    flex-wrap: nowrap;
  }

  .info-card__logo {
    font-size: 3rem;
  }

  .info-card__number {
    font-size: 3rem;
  }

  .info-card {
    width: 100%;
    max-width: 250px;
  }
}
