@import url(./normalize.css);

:root {
    --color-primary: #e5fff9;
    --color-secondary: #d0d9b7;
    --color-tertiary: #f3e6d5;
    --color-accent: #f4d9c5;
    --color-background: #e8e1d9;
    --color-body: #000;
}

*, 

*::after, 
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: "Tenor Sans", sans-serif;
    color: var(--color-body);
    font-size: 1.6rem;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 2.2rem;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.8rem;
    }

    h2, h3 {
        font-size: 2.6rem;
    }

    h4 {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 7rem;
    }

    h2, h3 {
        font-size: 3rem;
    }
}

/* Buttons */
.btn {
    background: none;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    padding: 1.8rem;
    transition: all .2s;
}

.btn:hover {
    background: var(--color-primary);
    transform: scale(0.9);
}

.btn > svg{
    width: 1.8rem;
    height: 1.8rem;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 2.5rem;
    }

    .btn > svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* Links */
.link {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .link-group .link{
        letter-spacing: 5px;
    }
}

/* Bubble Chat */
.chat {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: rgb(255, 255, 255) 0px 0px 1px 0px inset, rgb(255, 255, 255) 0px 0px 1px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat > svg {
    width: 80%;
    height: 80%;
    fill: #fff;
}