<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="/03 - html y css (parte 2)/normalize.css" />
  </head>
  <body>
    <div class="gallery">
      <img
        class="gallery__image"
        src="https://picsum.photos/id/100/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/25/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/30/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/96/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/325/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/666/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/900/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/147/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/258/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/369/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/412/200/300"
        alt=""
      />
      <img
        class="gallery__image"
        src="https://picsum.photos/id/341/200/300"
        alt=""
      />
    </div>
  </body>
</html>
