p {
  font-size: 14px;
}

input {
  outline: none;
}

h3 {
  margin: 0;
}

.lists__container {
  width: 100%;
  display: flex;
}

.nav-lists__container {
  margin-top: 48px;
  width: 260px;
  height: calc(100vh - 48px);
  background-color: hsla(323, 70.6%, 34.8%, 0.9);
}

.lists__header {
  background-color: #0000003d;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    hsla(323, 70.6%, 34.8%, 0.9),
    #0000003d,
    #0000003d
  );
  height: auto;
  width: calc(100% - 260px);
  position: fixed;
  z-index: 0;
}

.lists__header-wrapper {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.lists__header__items {
  display: flex;
  align-items: center;
}

.lists__header__title {
  padding: 0 10px;
  overflow: hidden;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lists__header__icon {
  color: #fff;
  font-size: 14px;
  margin: 0 5px;
}

.lists__header__link {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 10px;
  font-weight: 600;
}

.lists__header__link.list__header__button {
  background-color: #dcdfe4;
  color: #172b4d;
  padding: 6px 12px;
  border-radius: 3px;
}

.lists__header__space-bar {
  height: 16px;
  margin: 8px 4px 8px 4px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.16);
}

.lists__header__user {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 5px;
  width: 28px;
  height: 28px;
  background-color: rgb(38, 36, 36);
  color: #fff;
  font-size: 8px;
  letter-spacing: 0px;
}

.main-lists__container {
  margin-top: 48px;
  flex-grow: 1;
  height: calc(100vh - 48px);
  background-image: url(/flower.svg);
  overflow-x: scroll;
  overflow: auto;
}

.lists {
  display: flex;
  overflow: visible;
  margin-top: 70px;
  padding: 0 7px;
}

.list__container {
  /* padding: 0 6px; */
}

.list__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 272px;
  padding: 12px;
  border-radius: 12px;
  background-color: #ffffff3d;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.list__inputs {
  margin: 0 6px;
  width: 272px;
  padding: 12px;
  font-size: 14px;
  background-color: #f1f2f4;
  border-radius: 12px;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}

.list__input {
  height: 32px;
  width: 100%;
  min-height: 20px;
  padding: 6px 12px;
  overflow: hidden;
  border-radius: 4px;
  overflow-wrap: break-word;
  color: var(--ds-text, #172b4d);
  font-weight: 600;
  border: 1px solid transparent;
}

.list__input:focus {
  border: 1px solid #0c66e4;
}

.list__add-button {
  border-radius: 3px;
  border: none;
  background-color: #0c66e4;
  color: #fff;
  padding: 6px 12px;
}

.list__controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  border-radius: 4px;
  gap: 4px;
}

.dragged-over {
  background-color: red;
  color: yellow;
}

.nav-lists__space-work {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
}

.nav-lists__space-work__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 800;
  background: linear-gradient(rgb(174, 71, 135), rgb(231, 116, 187));
  color: #fff;
}

.nav-lists__space-work__name {
  flex-grow: 1;
  margin-right: 4px;
  margin-left: 8px;
  text-align: left;
}

.nav-lists__links {
  padding-top: 12px;
}

.nav-lists__title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 0 4px 12px;
}

.nav-lists__link {
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  display: flex;
  color: #fff;
  align-items: center;
  padding-left: 16px;
  gap: 12px;
}

.nav-lists__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
