.navbar {
  background-color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1320px;
}

.navbar__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}
