:root {
  --color-text: rgb(23, 43, 77);
  font-size: 14px;
}

body {
  font-size: 1.25rem;
  font-family: sans-serif;
  color: var(--color-text);
  width: 100%;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 2rem;
  color: #44546f;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 1.5rem;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 3px;
  padding: 4px;
  width: 100%;
}
