<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Nav Bar</title>
  </head>
  <body>
    <header class="navbar">
      <p class="nav__items">about</p>
      <p class="nav__items">courses</p>
      <p class="nav__items">forum</p>
      <p class="nav__items">learning paths</p>
      <p class="nav__items">contact</p>
    </header>
  </body>
</html>
