<section class="container categories">
  <h2 class="categories__heading">Shop by category</h2>
  <article class="grid grid--2x4">
    <section class="card">
      <h3>All succulents</h3>
      <div class="card__image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#card_2"></use>
        </svg>
      </div>
      <section class="link link-group">
        <a href="#" class="link">Shop Now</a>
        <button class="btn">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </section>
    </section>
    <section class="card">
      <h3>Crassula</h3>
      <div class="card__image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#card-1"></use>
        </svg>
      </div>
      <section class="link link-group">
        <a href="#" class="link">Shop Now</a>
        <button class="btn">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </section>
    </section>
    <section class="card">
      <h3>Haworthia</h3>
      <div class="card__image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#card_3"></use>
        </svg>
      </div>
      <section class="link link-group">
        <a href="#" class="link">Shop Now</a>
        <button class="btn">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </section>
    </section>
    <section class="card">
      <h3>Cactus</h3>
      <div class="card__image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#card_4"></use>
        </svg>
      </div>
      <section class="link link-group">
        <a href="#" class="link">Shop Now</a>
        <button class="btn">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </section>
    </section>
  </article>
</section>
