<section class="container block-callout">
  <section class="testimonial-container">
    <section class="testimonial">
      <h2 class="testimonial__heading">
        Plant lovers <br />
        love us
      </h2>
      <p>★★★★★</p>
      <div class="slider">
        <div class="slides">
          <div class="slide active">
            <article class="quotes">
              <p class="quotes__quote">
                What an amazing experience buying a plant online. My order
                arrived within a few days and the plant was perfectly healthy
                and packaged safely.
              </p>
              <cite class="quotes__cite">Claire Schaefer</cite>
            </article>
          </div>
          <div class="slide">
            <article class="quotes">
              <p class="quotes__quote">
                What an amazing experience buying a plant online. My order
                arrived within a few days and the plant was perfectly healthy
                and packaged safely.
              </p>
              <cite class="quotes__cite">Claire Schaefer</cite>
            </article>
          </div>
          <div class="slide">
            <article class="quotes">
              <p class="quotes__quote">
                What an amazing experience buying a plant online. My order
                arrived within a few days and the plant was perfectly healthy
                and packaged safely.
              </p>
              <cite class="quotes__cite">Claire Schaefer</cite>
            </article>
          </div>
        </div>
        <div class="slider__pages">
          <span>•</span>
          <span>•</span>
          <span>•</span>
        </div>
      </div>
    </section>
  </section>
  <section class="block-callout__body-container">
    <figure class="block-callout__figure">
      <img
        src="./images/plant/plant_qxiivb_c_scale,w_616.jpg"
        alt="A small cactus"
      />
    </figure>
    <article>
      <article class="block-callout__text">
        <h2>Ready to be green?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet
          illo illum est, aliquid fugiat distinctio ducimus eos amet! Ipsum
          similique officiis perspiciatis a odit aliquam qui, excepturi
          doloribus enim exercitationem, quos necessitatibus labore sequi iure
          nihil repellat temporibus, nemo sit! Deserunt
        </p>
        <section class="link link-group">
          <a href="#" class="link">Shop Now</a>
          <button class="btn">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </section>
      </article>
    </article>
  </section>
</section>
