<section class="about-us container">
  <article class="about-us__heading">
    <p>welcome to</p>
    <h2>Toute L'anne</h2>
  </article>
  <article class="image-gallery">
    <img
      class="image-gallery__item1"
      src="./images/small-cactus/small-cactus_omwnqt_c_scale,w_356.jpg"
      alt="A small cactus"
    />
    <img
      class="image-gallery__item2"
      src="./images/succulent/succulent_hgcskx_c_scale,w_600.jpg"
      alt="A small cactus"
    />
    <img
      class="image-gallery__item3 image-gallery--position-absolute"
      src="./images/plant/plant_qxiivb_c_scale,w_616.jpg"
      alt="A small cactus"
    />
    <img
      class="image-gallery__item4 image-gallery--position-absolute"
      src="./images/cactus/cactus_q52zov_c_scale,w_300.jpg"
      alt="A small cactus"
    />
  </article>
  <section class="about-us__content">
    <article class="about-us__description">
      <p>
        Toute L’année is the online store for people who want to make their
        homes a little greener. We know there’s nothing better than coming home
        to a living, breathing home and that’s what we aim to provide with our
        wide variety of succulent plants. We are proud to say that since we were
        established in 2012, we’ve already added a green touch to thousands of
        homes.
      </p>
    </article>
    <article class="link link-group">
      <a href="#" class="link">More About Us</a>
      <button class="btn">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </article>
  </section>
</section>
