<section class="container block-company-description">
  <h2 class="block-company-description__heading">What makes us different</h2>
  <section class="grid grid--2x4">
    <article class="media">
      <section class="image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#grid_1"></use>
        </svg>
      </section>
      <section class="media__content">
        <h3 class="media__heading">Environmentlly Friendly</h3>
        <p class="media__body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
          adipisci?
        </p>
      </section>
    </article>
    <article class="media">
      <section class="image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#grid_2"></use>
        </svg>
      </section>
      <section class="media__content">
        <h3 class="media__heading">Affordable prices</h3>
        <p class="media__body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
          adipisci?
        </p>
      </section>
    </article>
    <article class="media">
      <section class="image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#grid_3"></use>
        </svg>
      </section>
      <section class="media__content">
        <h3 class="media__heading">Team of experienced professionals</h3>
        <p class="media__body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
          adipisci?
        </p>
      </section>
    </article>
    <article class="media">
      <section class="image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#grid_4"></use>
        </svg>
      </section>
      <section class="media__content">
        <h3 class="media__heading">Satisfaction guaranteed</h3>
        <p class="media__body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil,
          adipisci?
        </p>
      </section>
    </article>
  </section>
</section>
