<div class="container-hero">
  <img
    class="hero__background"
    src="./images/background/background_cnb4hs_c_scale,w_681.jpg"
    alt="Two succulents"
    srcset="
      .\images\background\background_cnb4hs_c_scale,w_1070.jpg 1000w,
      .\images\background\background_cnb4hs_c_scale,w_1357.jpg 1300w,
      .\images\background\background_cnb4hs_c_scale,w_1920.jpg 1900w
    "
  />
  <nav class="nav-bar">
    <span class="nav-bar__logo-container">
      <a href="#" class="link">
        <svg class="icon nav-bar__logo">
          <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
      </a>
    </span>
    <span class="nav-bar__list">
      <a href="#" class="link link--selected">Home</a>
      <a href="#" class="link">About</a>
      <a href="#" class="link">Products</a>
      <a href="#" class="link">Contact Us</a>
    </span>
    <span class="nav-bar_cart">
      <p>$0.00</p>
      <div class="nav-bar__bag">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#bag"></use>
        </svg>
        <div class="nav-bar__badge">0</div>
      </div>
    </span>
  </nav>
  <section class="hero">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#hero"></use>
    </svg>
    <h1>Toute L'annee</h1>
    <h2>Flora and fauna for every room</h2>
  </section>
</div>
