<svg class="icon">
    <use xlink:href="images/sprite.svg#arrow"></use>
</svg>

<!-- 
<svg class="icon">
    <use xlink:href="#hero"></use>
</svg>

<svg class="icon">
    <use xlink:href="#logo"></use>
</svg>

<svg class="icon">
    <use xlink:href="#bag"></use>
</svg>

<svg class="icon">
    <use xlink:href="#card_2"></use>
</svg>

<svg class="icon">
    <use xlink:href="#card_3"></use>
</svg>

<svg class="icon">
    <use xlink:href="#card_4"></use>
</svg>

<svg class="icon">
    <use xlink:href="#card-1"></use>
</svg>

<svg class="icon">
    <use xlink:href="#chat"></use>
</svg>

<svg class="icon">
    <use xlink:href="#grid_1"></use>
</svg>

<svg class="icon">
    <use xlink:href="#grid_2"></use>
</svg>

<svg class="icon">
    <use xlink:href="#grid_3"></use>
</svg>

<svg class="icon">
    <use xlink:href="#grid_4"></use>
</svg> -->