<section class="image-gallery">
  <img
    class="image-gallery__item1"
    src="./images/small-cactus/small-cactus_omwnqt_c_scale,w_356.jpg"
    alt="A small cactus"
  />
  <img
    class="image-gallery__item2"
    src="./images/succulent/succulent_hgcskx_c_scale,w_600.jpg"
    alt="A small cactus"
  />
  <img
    class="image-gallery__item3 image-gallery--position-absolute"
    src="./images/plant/plant_qxiivb_c_scale,w_616.jpg"
    alt="A small cactus"
  />
  <img
    class="image-gallery__item4 image-gallery--position-absolute"
    src="./images/cactus/cactus_q52zov_c_scale,w_300.jpg"
    alt="A small cactus"
  />
</section>
