<nav class="nav-bar">
    <span>
        <a href="#" class="link">
            <svg class="icon nav-bar__logo">
                <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
        </a>
    </span>
    <span class="nav-bar__list">
        <a href="#" class="link link--selected">Home</a>
        <a href="#" class="link">About</a>
        <a href="#" class="link">Products</a>
        <a href="#" class="link">Contact Us</a>
    </span>
    <span class="nav-bar_cart">
        <p>$0.00</p>
        <div class="nav-bar__bag">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#bag"></use>
            </svg>
            <div class="nav-bar__badge">0</div>
        </div>
    </span>
</nav>