<section class="testimonial" style="margin: 10px">
  <h2 class="testimonial__heading">
    Plant lovers <br />
    love us
  </h2>
  <p>★★★★★</p>
  <div class="slider">
    <div class="slides">
      <div class="slide active">
        <article class="quotes">
          <p class="quotes__quote">
            What an amazing experience buying a plant online. My order arrived
            within a few days and the plant was perfectly healthy and packaged
            safely.
          </p>
          <cite class="quotes__cite">Claire Schaefer</cite>
        </article>
      </div>
      <div class="slide">
        <article class="quotes">
          <p class="quotes__quote">
            What an amazing experience buying a plant online. My order arrived
            within a few days and the plant was perfectly healthy and packaged
            safely.
          </p>
          <cite class="quotes__cite">Claire Schaefer</cite>
        </article>
      </div>
      <div class="slide">
        <article class="quotes">
          <p class="quotes__quote">
            What an amazing experience buying a plant online. My order arrived
            within a few days and the plant was perfectly healthy and packaged
            safely.
          </p>
          <cite class="quotes__cite">Claire Schaefer</cite>
        </article>
      </div>
    </div>
    <div class="slider__pages">
      <span>•</span>
      <span>•</span>
      <span>•</span>
    </div>
  </div>
</section>
